CDC MySQL to Hive Flow.json
{"flowContents":{"identifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","instanceIdentifier":"195fcdf0-0198-1000-ded1-ecdd6f9bce66","name":"CDC MySQL to Hive Flow","comments":"","position":{"x":288.0,"y":200.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c6670f46-5b51-3841-a5ae-ee21d6266c02","instanceIdentifier":"67fe3159-1459-3a15-ab8b-845e8f39d099","name":"PutS3Object","comments":"","position":{"x":509.78581438783954,"y":1364.283543765652},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.28.0.0-eep-940"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"https://127.0.0.1:9000/","Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"staging/users/${filename}.parquet","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"demobk","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":"/home/mapr/.aws/credentials","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#4dd6d1"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"5a117872-1252-3508-b20a-900220001ac8","instanceIdentifier":"39595211-fea4-396a-d1fe-18dd4d49a680","name":"CaptureChangeMySQL","comments":"","position":{"x":509.78581438783954,"y":212.28354376565196},"type":"org.apache.nifi.cdc.mysql.processors.CaptureChangeMySQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-cdc-mysql-nar","version":"1.28.0"},"properties":{"capture-change-mysql-include-ddl-events":"false","capture-change-mysql-db-name-pattern":"demodb","capture-change-mysql-dist-map-cache-client":"39a377b3-77d9-35b1-8c1a-a1fff534b606","capture-change-mysql-init-seq-id":null,"capture-change-mysql-name-pattern":"users","capture-change-mysql-driver-class":"com.mysql.jdbc.Driver","capture-change-mysql-driver-locations":"/usr/share/java/mysql-connector-java-9.3.0.jar","SSL Mode":"DISABLED","number-of-events-per-flowfile":"1","capture-change-mysql-include-begin-commit":"false","capture-change-mysql-server-id":null,"capture-change-mysql-init-binlog-filename":null,"capture-change-mysql-init-binlog-position":null,"capture-change-mysql-init-gtid":null,"capture-change-mysql-hosts":"localhost:3306","capture-change-mysql-username":"root","capture-change-mysql-retrieve-all-records":"true","SSL Context Service":null,"capture-change-mysql-state-update-interval":"0 seconds","capture-change-mysql-use-gtid":"false","capture-change-mysql-max-wait-time":"30 seconds","events-per-flowfile-strategy":"MAX_EVENTS_PER_FLOWFILE"},"propertyDescriptors":{"capture-change-mysql-include-ddl-events":{"name":"capture-change-mysql-include-ddl-events","displayName":"Include DDL Events","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-db-name-pattern":{"name":"capture-change-mysql-db-name-pattern","displayName":"Database/Schema Name Pattern","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-dist-map-cache-client":{"name":"capture-change-mysql-dist-map-cache-client","displayName":"Distributed Map Cache Client - unused","identifiesControllerService":true,"sensitive":false},"capture-change-mysql-init-seq-id":{"name":"capture-change-mysql-init-seq-id","displayName":"Initial Sequence ID","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-name-pattern":{"name":"capture-change-mysql-name-pattern","displayName":"Table Name Pattern","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-driver-class":{"name":"capture-change-mysql-driver-class","displayName":"MySQL Driver Class Name","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-driver-locations":{"name":"capture-change-mysql-driver-locations","displayName":"MySQL Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"SSL Mode":{"name":"SSL Mode","displayName":"SSL Mode","identifiesControllerService":false,"sensitive":false},"number-of-events-per-flowfile":{"name":"number-of-events-per-flowfile","displayName":"Events Per FlowFile","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-include-begin-commit":{"name":"capture-change-mysql-include-begin-commit","displayName":"Include Begin/Commit Events","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-server-id":{"name":"capture-change-mysql-server-id","displayName":"Server ID","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-init-binlog-filename":{"name":"capture-change-mysql-init-binlog-filename","displayName":"Initial Binlog Filename","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-init-binlog-position":{"name":"capture-change-mysql-init-binlog-position","displayName":"Initial Binlog Position","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-init-gtid":{"name":"capture-change-mysql-init-gtid","displayName":"Initial Binlog GTID","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-hosts":{"name":"capture-change-mysql-hosts","displayName":"MySQL Nodes","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-username":{"name":"capture-change-mysql-username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-retrieve-all-records":{"name":"capture-change-mysql-retrieve-all-records","displayName":"Retrieve All Records","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"capture-change-mysql-state-update-interval":{"name":"capture-change-mysql-state-update-interval","displayName":"State Update Interval","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-use-gtid":{"name":"capture-change-mysql-use-gtid","displayName":"Use Binlog GTID","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-password":{"name":"capture-change-mysql-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"capture-change-mysql-max-wait-time":{"name":"capture-change-mysql-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"events-per-flowfile-strategy":{"name":"events-per-flowfile-strategy","displayName":"Event Processing Strategy","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#48e073"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"90a67f0a-cc48-3841-bcab-16118a3d99ed","instanceIdentifier":"68c5a2ec-afe6-31d4-2a8a-8e91076dea41","name":"Log Failed","comments":"","position":{"x":1184.0,"y":1024.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"Log prefix":"FAILED","character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"8a08fdaf-4f9a-367b-96b5-edbeb5de37cd","instanceIdentifier":"e3e7b626-d8c3-3c32-b9f3-41e54ac129f1","name":"JoltTransformJSON","comments":"","position":{"x":509.78581438783954,"y":700.283543765652},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"columns\": {\n        \"*\": {\n          \"@(value)\": \"[#1].@(1,name)\"\n        }\n      }\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"Max String Length":"20 MB","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"d8945499-ea35-30de-9ef5-e9ca4f18ab9c","instanceIdentifier":"9ba70f07-22d9-319d-5651-f145b240bf2e","name":"Log Complete","comments":"","position":{"x":1184.0,"y":1416.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"Log prefix":"DONE","character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"49b55343-77ea-3bc5-a9b7-3b9eb3637a8e","instanceIdentifier":"1fe2c8fb-0198-1000-b3f8-7ae3b53e9db9","name":"ExecuteStreamCommand","comments":"","position":{"x":512.0,"y":1616.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/app","Command Path":"/app/invoke-pyspark.sh","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"true","Command Arguments":null},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"69fd29b3-9c87-3163-8107-9d86f885a841","instanceIdentifier":"b5bf1fd9-ca57-38b1-88f7-f159a8bc2a86","name":"ConvertRecord","comments":"","position":{"x":509.78581438783954,"y":1052.283543765652},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"record-writer":"ae98c4bf-6596-3b89-8a33-b2b0f9169dba","record-reader":"e2fdbfed-ff74-3a8e-8be5-ee0f47908bcf","include-zero-record-flowfiles":"false"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#e6e68a"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"72ecf330-0fbe-3840-8201-68364ba4e531","instanceIdentifier":"a578b5ec-fbbf-3389-0084-2fe082f56558","name":"RouteOnAttribute","comments":"","position":{"x":509.78581438783954,"y":444.283543765652},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"Routing Strategy":"Route to Property name","insert":"${cdc.event.type:equals('insert')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"insert":{"name":"insert","displayName":"insert","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f317f377-3807-345b-9426-fc93b6cf9520","instanceIdentifier":"27d12595-d113-38ba-c2e4-8cc2a14ffaf2","name":"","source":{"id":"72ecf330-0fbe-3840-8201-68364ba4e531","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a578b5ec-fbbf-3389-0084-2fe082f56558"},"destination":{"id":"90a67f0a-cc48-3841-bcab-16118a3d99ed","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"Log Failed","comments":"","instanceIdentifier":"68c5a2ec-afe6-31d4-2a8a-8e91076dea41"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"116ac9eb-e8b2-348a-bd6c-59af7f3e3241","instanceIdentifier":"b9b98957-f718-390d-ba8d-1c550591d8c0","name":"","source":{"id":"8a08fdaf-4f9a-367b-96b5-edbeb5de37cd","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e3e7b626-d8c3-3c32-b9f3-41e54ac129f1"},"destination":{"id":"90a67f0a-cc48-3841-bcab-16118a3d99ed","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"Log Failed","comments":"","instanceIdentifier":"68c5a2ec-afe6-31d4-2a8a-8e91076dea41"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"03579b64-2595-3065-8523-83a126e08560","instanceIdentifier":"fd3ff301-2b82-3c43-146c-065dfccf53e7","name":"","source":{"id":"69fd29b3-9c87-3163-8107-9d86f885a841","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"ConvertRecord","comments":"","instanceIdentifier":"b5bf1fd9-ca57-38b1-88f7-f159a8bc2a86"},"destination":{"id":"c6670f46-5b51-3841-a5ae-ee21d6266c02","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"PutS3Object","comments":"","instanceIdentifier":"67fe3159-1459-3a15-ab8b-845e8f39d099"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"d360173f-a742-3ab4-8f67-d37812f7ed50","instanceIdentifier":"f4a0365c-3aa8-3ee4-734f-a7d87273dddd","name":"","source":{"id":"c6670f46-5b51-3841-a5ae-ee21d6266c02","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"PutS3Object","comments":"","instanceIdentifier":"67fe3159-1459-3a15-ab8b-845e8f39d099"},"destination":{"id":"90a67f0a-cc48-3841-bcab-16118a3d99ed","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"Log Failed","comments":"","instanceIdentifier":"68c5a2ec-afe6-31d4-2a8a-8e91076dea41"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"b925c47b-2a2d-35ac-be53-e7149ffd8265","instanceIdentifier":"7e465a69-1eeb-3610-0794-60d776d3dbab","name":"","source":{"id":"8a08fdaf-4f9a-367b-96b5-edbeb5de37cd","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e3e7b626-d8c3-3c32-b9f3-41e54ac129f1"},"destination":{"id":"69fd29b3-9c87-3163-8107-9d86f885a841","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"ConvertRecord","comments":"","instanceIdentifier":"b5bf1fd9-ca57-38b1-88f7-f159a8bc2a86"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"c53f9b64-39ec-3743-ad31-4de43d215497","instanceIdentifier":"fa6945a1-d7b5-39c7-7a0e-53892080ff5a","name":"","source":{"id":"72ecf330-0fbe-3840-8201-68364ba4e531","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a578b5ec-fbbf-3389-0084-2fe082f56558"},"destination":{"id":"8a08fdaf-4f9a-367b-96b5-edbeb5de37cd","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"JoltTransformJSON","comments":"","instanceIdentifier":"e3e7b626-d8c3-3c32-b9f3-41e54ac129f1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["insert"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"db60751c-42c1-3ac0-931d-f1d7ae5771c6","instanceIdentifier":"1fe30f2f-0198-1000-c8ee-fbc611a7a702","name":"","source":{"id":"c6670f46-5b51-3841-a5ae-ee21d6266c02","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"PutS3Object","comments":"","instanceIdentifier":"67fe3159-1459-3a15-ab8b-845e8f39d099"},"destination":{"id":"49b55343-77ea-3bc5-a9b7-3b9eb3637a8e","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"1fe2c8fb-0198-1000-b3f8-7ae3b53e9db9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"8dc8e047-cb4d-3650-8eac-56949069fc6e","instanceIdentifier":"6d561d93-9caa-3d3f-8e39-f1e5998370b7","name":"","source":{"id":"69fd29b3-9c87-3163-8107-9d86f885a841","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"ConvertRecord","comments":"","instanceIdentifier":"b5bf1fd9-ca57-38b1-88f7-f159a8bc2a86"},"destination":{"id":"69fd29b3-9c87-3163-8107-9d86f885a841","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"ConvertRecord","comments":"","instanceIdentifier":"b5bf1fd9-ca57-38b1-88f7-f159a8bc2a86"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":977.7223378253395,"y":1090.6994983554957},{"x":977.7223378253395,"y":1140.6994983554957}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"603041e9-1ba0-3560-b68e-8989e226ff94","instanceIdentifier":"1fe6c8a3-0198-1000-260f-3c3cd9ac197b","name":"","source":{"id":"49b55343-77ea-3bc5-a9b7-3b9eb3637a8e","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"1fe2c8fb-0198-1000-b3f8-7ae3b53e9db9"},"destination":{"id":"d8945499-ea35-30de-9ef5-e9ca4f18ab9c","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"Log Complete","comments":"","instanceIdentifier":"9ba70f07-22d9-319d-5651-f145b240bf2e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"ab55af90-5838-353b-9f1a-9772569311b2","instanceIdentifier":"1fe6e06f-0198-1000-6361-28ab81265aa8","name":"","source":{"id":"49b55343-77ea-3bc5-a9b7-3b9eb3637a8e","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"1fe2c8fb-0198-1000-b3f8-7ae3b53e9db9"},"destination":{"id":"90a67f0a-cc48-3841-bcab-16118a3d99ed","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"Log Failed","comments":"","instanceIdentifier":"68c5a2ec-afe6-31d4-2a8a-8e91076dea41"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"ee6d5398-e6d1-3c7d-82e6-b33cfad08ec1","instanceIdentifier":"285bb8cf-dd75-338d-9870-44f07b800d9b","name":"","source":{"id":"c6670f46-5b51-3841-a5ae-ee21d6266c02","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"PutS3Object","comments":"","instanceIdentifier":"67fe3159-1459-3a15-ab8b-845e8f39d099"},"destination":{"id":"d8945499-ea35-30de-9ef5-e9ca4f18ab9c","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"Log Complete","comments":"","instanceIdentifier":"9ba70f07-22d9-319d-5651-f145b240bf2e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"63316427-d508-3d11-92f1-32a69b523598","instanceIdentifier":"53d34f97-5521-316e-ec73-c0da33052423","name":"","source":{"id":"5a117872-1252-3508-b20a-900220001ac8","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"CaptureChangeMySQL","comments":"","instanceIdentifier":"39595211-fea4-396a-d1fe-18dd4d49a680"},"destination":{"id":"72ecf330-0fbe-3840-8201-68364ba4e531","type":"PROCESSOR","groupId":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a578b5ec-fbbf-3389-0084-2fe082f56558"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"}],"labels":[{"identifier":"41c2294e-07aa-3d29-a2d9-3020428f253d","instanceIdentifier":"60c35fc0-cf75-3f0a-4aad-1638f1a5d0b0","position":{"x":597.7858143878395,"y":836.283543765652},"label":"Insert processor here \nto change/replace values \n(extract text, replace text etc)","zIndex":0,"width":184.0,"height":64.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"}],"funnels":[],"controllerServices":[{"identifier":"39a377b3-77d9-35b1-8c1a-a1fff534b606","instanceIdentifier":"cf16be31-7d68-3f05-d67c-6c4fdffdd961","name":"CDC MapCache","comments":"","type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.28.0.0-eep-940"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0.0-eep-940"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0.0-eep-940"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"e2fdbfed-ff74-3a8e-8be5-ee0f47908bcf","instanceIdentifier":"ad83ca35-80d9-304b-4d48-1261b998ef1d","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.0.0-eep-940"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0.0-eep-940"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"},{"identifier":"ae98c4bf-6596-3b89-8a33-b2b0f9169dba","instanceIdentifier":"140e595e-725d-3ce4-c011-5b27b8eb4f26","name":"ParquetRecordSetWriter","comments":"","type":"org.apache.nifi.parquet.ParquetRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.28.0.0-eep-940"},"properties":{"schema-branch":null,"max-padding-size":null,"avro-write-old-list-structure":"true","row-group-size":null,"schema-cache":null,"enable-dictionary-encoding":null,"Schema Write Strategy":"no-schema","page-size":null,"writer-version":null,"compression-type":"UNCOMPRESSED","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"enable-validation":null,"dictionary-page-size":null,"int96-fields":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}","avro-add-list-element-records":"true"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false},"avro-write-old-list-structure":{"name":"avro-write-old-list-structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false},"int96-fields":{"name":"int96-fields","displayName":"INT96 Fields","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0.0-eep-940"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f3813e84-e6ad-33f9-b4bd-c9366da1f9e3"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}