NiFi_Flow.json
{"flowContents":{"identifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","instanceIdentifier":"067b3dc0-0198-1000-7bde-2fc0dde799ca","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c6670f46-5b51-3841-a5ae-ee21d6266c02","instanceIdentifier":"300980a9-4e71-32ea-b323-0c23666577d4","name":"PutS3Object","comments":"","position":{"x":509.78581438783954,"y":1364.283543765652},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.28.0.0-eep-940"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"https://localhost:9000/","Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"users/${filename}.parquet","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"demobk","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#4dd6d1"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"d69e967f-4e58-321e-a158-526730369d69","instanceIdentifier":"d62fed1f-4de1-3f4f-cd9b-bdb1bdb1b997","name":"ConvertJSONToSQL","comments":"","position":{"x":1469.7858143878395,"y":452.283543765652},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"table-schema-cache-size":"100","Table Name":"users","Catalog Name":null,"jts-sql-param-attr-prefix":"hiveql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Fail on Unmatched Columns","jts-quoted-identifiers":"false","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"cc9c5fe0-4342-32dc-9d68-0cf632195b43","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"5a117872-1252-3508-b20a-900220001ac8","instanceIdentifier":"5ac963e6-d66c-3d74-150e-c9fc78c6afd1","name":"CaptureChangeMySQL","comments":"","position":{"x":509.78581438783954,"y":212.28354376565196},"type":"org.apache.nifi.cdc.mysql.processors.CaptureChangeMySQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-cdc-mysql-nar","version":"1.28.0"},"properties":{"capture-change-mysql-include-ddl-events":"false","capture-change-mysql-db-name-pattern":"demodb","capture-change-mysql-dist-map-cache-client":"39a377b3-77d9-35b1-8c1a-a1fff534b606","capture-change-mysql-init-seq-id":null,"capture-change-mysql-name-pattern":"users","capture-change-mysql-driver-class":"com.mysql.jdbc.Driver","capture-change-mysql-driver-locations":"/usr/share/java/mysql-connector-java-9.3.0.jar","SSL Mode":"DISABLED","number-of-events-per-flowfile":"1","capture-change-mysql-include-begin-commit":"false","capture-change-mysql-server-id":null,"capture-change-mysql-init-binlog-filename":null,"capture-change-mysql-init-binlog-position":null,"capture-change-mysql-init-gtid":null,"capture-change-mysql-hosts":"localhost:3306","capture-change-mysql-username":"root","capture-change-mysql-retrieve-all-records":"true","SSL Context Service":null,"capture-change-mysql-state-update-interval":"0 seconds","capture-change-mysql-use-gtid":"false","capture-change-mysql-max-wait-time":"30 seconds","events-per-flowfile-strategy":"MAX_EVENTS_PER_FLOWFILE"},"propertyDescriptors":{"capture-change-mysql-include-ddl-events":{"name":"capture-change-mysql-include-ddl-events","displayName":"Include DDL Events","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-db-name-pattern":{"name":"capture-change-mysql-db-name-pattern","displayName":"Database/Schema Name Pattern","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-dist-map-cache-client":{"name":"capture-change-mysql-dist-map-cache-client","displayName":"Distributed Map Cache Client - unused","identifiesControllerService":true,"sensitive":false},"capture-change-mysql-init-seq-id":{"name":"capture-change-mysql-init-seq-id","displayName":"Initial Sequence ID","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-name-pattern":{"name":"capture-change-mysql-name-pattern","displayName":"Table Name Pattern","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-driver-class":{"name":"capture-change-mysql-driver-class","displayName":"MySQL Driver Class Name","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-driver-locations":{"name":"capture-change-mysql-driver-locations","displayName":"MySQL Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"SSL Mode":{"name":"SSL Mode","displayName":"SSL Mode","identifiesControllerService":false,"sensitive":false},"number-of-events-per-flowfile":{"name":"number-of-events-per-flowfile","displayName":"Events Per FlowFile","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-include-begin-commit":{"name":"capture-change-mysql-include-begin-commit","displayName":"Include Begin/Commit Events","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-server-id":{"name":"capture-change-mysql-server-id","displayName":"Server ID","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-init-binlog-filename":{"name":"capture-change-mysql-init-binlog-filename","displayName":"Initial Binlog Filename","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-init-binlog-position":{"name":"capture-change-mysql-init-binlog-position","displayName":"Initial Binlog Position","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-init-gtid":{"name":"capture-change-mysql-init-gtid","displayName":"Initial Binlog GTID","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-hosts":{"name":"capture-change-mysql-hosts","displayName":"MySQL Nodes","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-username":{"name":"capture-change-mysql-username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-retrieve-all-records":{"name":"capture-change-mysql-retrieve-all-records","displayName":"Retrieve All Records","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"capture-change-mysql-state-update-interval":{"name":"capture-change-mysql-state-update-interval","displayName":"State Update Interval","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-use-gtid":{"name":"capture-change-mysql-use-gtid","displayName":"Use Binlog GTID","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-password":{"name":"capture-change-mysql-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"capture-change-mysql-max-wait-time":{"name":"capture-change-mysql-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"events-per-flowfile-strategy":{"name":"events-per-flowfile-strategy","displayName":"Event Processing Strategy","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#48e073"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"90a67f0a-cc48-3841-bcab-16118a3d99ed","instanceIdentifier":"1c2e119e-b907-3cdf-a29e-5e046bc95fb8","name":"Log Failed","comments":"","position":{"x":1181.7858143878395,"y":876.283543765652},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"Log prefix":"FAILED","character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"8a08fdaf-4f9a-367b-96b5-edbeb5de37cd","instanceIdentifier":"d52fcb99-0fbf-34f7-cdd0-2977fcd8cab1","name":"JoltTransformJSON","comments":"","position":{"x":509.78581438783954,"y":700.283543765652},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"columns\": {\n        \"*\": {\n          \"@(value)\": \"[#1].@(1,name)\"\n        }\n      }\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"Max String Length":"20 MB","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"69fd29b3-9c87-3163-8107-9d86f885a841","instanceIdentifier":"5eab34bc-5d85-340d-bf6d-fdb726ab3404","name":"ConvertRecord","comments":"","position":{"x":509.78581438783954,"y":1052.283543765652},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"record-writer":"ae98c4bf-6596-3b89-8a33-b2b0f9169dba","record-reader":"e2fdbfed-ff74-3a8e-8be5-ee0f47908bcf","include-zero-record-flowfiles":"false"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#e6e68a"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"d8945499-ea35-30de-9ef5-e9ca4f18ab9c","instanceIdentifier":"b5da9426-0436-37a0-478b-af9bbade6f55","name":"Log Complete","comments":"","position":{"x":1181.7858143878395,"y":1204.283543765652},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"Log prefix":"DONE","character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"72ecf330-0fbe-3840-8201-68364ba4e531","instanceIdentifier":"87bad12a-0e5c-35e5-3808-f95f1aae8cd4","name":"RouteOnAttribute","comments":"","position":{"x":509.78581438783954,"y":444.283543765652},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"Routing Strategy":"Route to Property name","insert":"${cdc.event.type:equals('insert')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"insert":{"name":"insert","displayName":"insert","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"0737d339-bcf8-3893-81f4-b48a0596d990","instanceIdentifier":"2a05c5c9-7c0f-3f57-8342-887b4f77a1b3","name":"PutHive3_EEP_QL","comments":"","position":{"x":1725.7858143878395,"y":884.283543765652},"type":"org.apache.nifi.processors.hive.PutHive3_EEP_QL","bundle":{"group":"org.apache.nifi","artifact":"nifi-eep-hive3-nar","version":"1.28.0.0-eep-940"},"properties":{"statement-delimiter":";","hive3-dbcp-service":"cc9c5fe0-4342-32dc-9d68-0cf632195b43","hive3-query-timeout":"0","hive3-charset":"UTF-8","rollback-on-failure":"false","hive-batch-size":"10000"},"propertyDescriptors":{"statement-delimiter":{"name":"statement-delimiter","displayName":"Statement Delimiter","identifiesControllerService":false,"sensitive":false},"hive3-dbcp-service":{"name":"hive3-dbcp-service","displayName":"Hive Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"hive3-query-timeout":{"name":"hive3-query-timeout","displayName":"Query timeout","identifiesControllerService":false,"sensitive":false},"hive3-charset":{"name":"hive3-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"hive-batch-size":{"name":"hive-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#665aed"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f317f377-3807-345b-9426-fc93b6cf9520","instanceIdentifier":"891e1269-56b0-3c56-e147-eac776343fe7","name":"","source":{"id":"72ecf330-0fbe-3840-8201-68364ba4e531","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"87bad12a-0e5c-35e5-3808-f95f1aae8cd4"},"destination":{"id":"90a67f0a-cc48-3841-bcab-16118a3d99ed","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"Log Failed","comments":"","instanceIdentifier":"1c2e119e-b907-3cdf-a29e-5e046bc95fb8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"116ac9eb-e8b2-348a-bd6c-59af7f3e3241","instanceIdentifier":"420e2d90-8020-3da1-8583-cb680f9ae53b","name":"","source":{"id":"8a08fdaf-4f9a-367b-96b5-edbeb5de37cd","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d52fcb99-0fbf-34f7-cdd0-2977fcd8cab1"},"destination":{"id":"90a67f0a-cc48-3841-bcab-16118a3d99ed","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"Log Failed","comments":"","instanceIdentifier":"1c2e119e-b907-3cdf-a29e-5e046bc95fb8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"03579b64-2595-3065-8523-83a126e08560","instanceIdentifier":"03ac7ca0-ddb6-3718-0230-9cc07c1a9e34","name":"","source":{"id":"69fd29b3-9c87-3163-8107-9d86f885a841","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"ConvertRecord","comments":"","instanceIdentifier":"5eab34bc-5d85-340d-bf6d-fdb726ab3404"},"destination":{"id":"c6670f46-5b51-3841-a5ae-ee21d6266c02","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"PutS3Object","comments":"","instanceIdentifier":"300980a9-4e71-32ea-b323-0c23666577d4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"8ac45a60-a1bb-3240-87df-3a75ddb56d79","instanceIdentifier":"3427dc2a-b4b2-34e5-d7e4-c3b27fed33fd","name":"","source":{"id":"8a08fdaf-4f9a-367b-96b5-edbeb5de37cd","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d52fcb99-0fbf-34f7-cdd0-2977fcd8cab1"},"destination":{"id":"d69e967f-4e58-321e-a158-526730369d69","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"d62fed1f-4de1-3f4f-cd9b-bdb1bdb1b997"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"72e6128e-6972-3a35-8ad8-44f1e1958282","instanceIdentifier":"4827bcd7-c64e-3574-b055-b5b4384e5a86","name":"","source":{"id":"d69e967f-4e58-321e-a158-526730369d69","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"d62fed1f-4de1-3f4f-cd9b-bdb1bdb1b997"},"destination":{"id":"90a67f0a-cc48-3841-bcab-16118a3d99ed","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"Log Failed","comments":"","instanceIdentifier":"1c2e119e-b907-3cdf-a29e-5e046bc95fb8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"d360173f-a742-3ab4-8f67-d37812f7ed50","instanceIdentifier":"19561697-dae3-364e-28c2-d893a1a99833","name":"","source":{"id":"c6670f46-5b51-3841-a5ae-ee21d6266c02","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"PutS3Object","comments":"","instanceIdentifier":"300980a9-4e71-32ea-b323-0c23666577d4"},"destination":{"id":"90a67f0a-cc48-3841-bcab-16118a3d99ed","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"Log Failed","comments":"","instanceIdentifier":"1c2e119e-b907-3cdf-a29e-5e046bc95fb8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"b925c47b-2a2d-35ac-be53-e7149ffd8265","instanceIdentifier":"3b2101a4-d756-3bac-968b-1ca63b99b783","name":"","source":{"id":"8a08fdaf-4f9a-367b-96b5-edbeb5de37cd","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d52fcb99-0fbf-34f7-cdd0-2977fcd8cab1"},"destination":{"id":"69fd29b3-9c87-3163-8107-9d86f885a841","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"ConvertRecord","comments":"","instanceIdentifier":"5eab34bc-5d85-340d-bf6d-fdb726ab3404"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"c53f9b64-39ec-3743-ad31-4de43d215497","instanceIdentifier":"94a667bf-3660-36db-5595-425906de36fa","name":"","source":{"id":"72ecf330-0fbe-3840-8201-68364ba4e531","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"87bad12a-0e5c-35e5-3808-f95f1aae8cd4"},"destination":{"id":"8a08fdaf-4f9a-367b-96b5-edbeb5de37cd","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"JoltTransformJSON","comments":"","instanceIdentifier":"d52fcb99-0fbf-34f7-cdd0-2977fcd8cab1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["insert"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"bd4ddc4b-d8ce-3283-bad7-9247763f3af3","instanceIdentifier":"33b985ce-3321-357f-0f6a-184d9e62a3aa","name":"","source":{"id":"0737d339-bcf8-3893-81f4-b48a0596d990","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"PutHive3_EEP_QL","comments":"","instanceIdentifier":"2a05c5c9-7c0f-3f57-8342-887b4f77a1b3"},"destination":{"id":"d8945499-ea35-30de-9ef5-e9ca4f18ab9c","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"Log Complete","comments":"","instanceIdentifier":"b5da9426-0436-37a0-478b-af9bbade6f55"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"8dc8e047-cb4d-3650-8eac-56949069fc6e","instanceIdentifier":"954874de-93a5-344f-7181-84962f240cf8","name":"","source":{"id":"69fd29b3-9c87-3163-8107-9d86f885a841","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"ConvertRecord","comments":"","instanceIdentifier":"5eab34bc-5d85-340d-bf6d-fdb726ab3404"},"destination":{"id":"69fd29b3-9c87-3163-8107-9d86f885a841","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"ConvertRecord","comments":"","instanceIdentifier":"5eab34bc-5d85-340d-bf6d-fdb726ab3404"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":977.7223378253395,"y":1090.6994983554957},{"x":977.7223378253395,"y":1140.6994983554957}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"cb6e5ef4-7023-39a1-8f1a-a726759fdba3","instanceIdentifier":"9168c0f5-7478-3558-29ba-c7ba45db7456","name":"","source":{"id":"d69e967f-4e58-321e-a158-526730369d69","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"d62fed1f-4de1-3f4f-cd9b-bdb1bdb1b997"},"destination":{"id":"0737d339-bcf8-3893-81f4-b48a0596d990","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"PutHive3_EEP_QL","comments":"","instanceIdentifier":"2a05c5c9-7c0f-3f57-8342-887b4f77a1b3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"63316427-d508-3d11-92f1-32a69b523598","instanceIdentifier":"b26383d5-9151-3e49-547a-2738fcfaff3d","name":"","source":{"id":"5a117872-1252-3508-b20a-900220001ac8","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"CaptureChangeMySQL","comments":"","instanceIdentifier":"5ac963e6-d66c-3d74-150e-c9fc78c6afd1"},"destination":{"id":"72ecf330-0fbe-3840-8201-68364ba4e531","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"87bad12a-0e5c-35e5-3808-f95f1aae8cd4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"ee6d5398-e6d1-3c7d-82e6-b33cfad08ec1","instanceIdentifier":"cd890e48-d1a6-3b0b-2b0d-74cf033eee76","name":"","source":{"id":"c6670f46-5b51-3841-a5ae-ee21d6266c02","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"PutS3Object","comments":"","instanceIdentifier":"300980a9-4e71-32ea-b323-0c23666577d4"},"destination":{"id":"d8945499-ea35-30de-9ef5-e9ca4f18ab9c","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"Log Complete","comments":"","instanceIdentifier":"b5da9426-0436-37a0-478b-af9bbade6f55"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"6dc928b8-fd5b-3fd5-9ad6-b89e4db8505e","instanceIdentifier":"21416a92-2c84-30b3-b413-5d23033d804d","name":"","source":{"id":"0737d339-bcf8-3893-81f4-b48a0596d990","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"PutHive3_EEP_QL","comments":"","instanceIdentifier":"2a05c5c9-7c0f-3f57-8342-887b4f77a1b3"},"destination":{"id":"0737d339-bcf8-3893-81f4-b48a0596d990","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"PutHive3_EEP_QL","comments":"","instanceIdentifier":"2a05c5c9-7c0f-3f57-8342-887b4f77a1b3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2206.4037343097143,"y":924.5471546054957},{"x":2206.4037343097143,"y":974.5471546054957}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"ea38d2cd-ad63-3b65-bfce-793445b2d9b5","instanceIdentifier":"bdb91cd6-c71c-3973-4891-07a138c0bbf3","name":"","source":{"id":"0737d339-bcf8-3893-81f4-b48a0596d990","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"PutHive3_EEP_QL","comments":"","instanceIdentifier":"2a05c5c9-7c0f-3f57-8342-887b4f77a1b3"},"destination":{"id":"90a67f0a-cc48-3841-bcab-16118a3d99ed","type":"PROCESSOR","groupId":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f","name":"Log Failed","comments":"","instanceIdentifier":"1c2e119e-b907-3cdf-a29e-5e046bc95fb8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"}],"labels":[{"identifier":"41c2294e-07aa-3d29-a2d9-3020428f253d","instanceIdentifier":"db13a5c3-3431-3089-219e-54cf2bd5c9f5","position":{"x":597.7858143878395,"y":836.283543765652},"label":"Insert processor here \nto change/replace values \n(extract text, replace text etc)","zIndex":0,"width":184.0,"height":64.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"}],"funnels":[],"controllerServices":[{"identifier":"39a377b3-77d9-35b1-8c1a-a1fff534b606","instanceIdentifier":"16fedead-824a-39db-4190-36c580f3fcdb","name":"CDC MapCache","comments":"","type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.28.0.0-eep-940"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0.0-eep-940"}},{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0.0-eep-940"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"e2fdbfed-ff74-3a8e-8be5-ee0f47908bcf","instanceIdentifier":"33b34c85-c159-3d1d-c925-436f8bca796b","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.0.0-eep-940"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0.0-eep-940"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"ae98c4bf-6596-3b89-8a33-b2b0f9169dba","instanceIdentifier":"91b9c80c-1b38-396b-904b-9cd458543052","name":"ParquetRecordSetWriter","comments":"","type":"org.apache.nifi.parquet.ParquetRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.28.0.0-eep-940"},"properties":{"schema-branch":null,"max-padding-size":null,"avro-write-old-list-structure":"true","row-group-size":null,"schema-cache":null,"enable-dictionary-encoding":null,"Schema Write Strategy":"no-schema","page-size":null,"writer-version":null,"compression-type":"UNCOMPRESSED","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"enable-validation":null,"dictionary-page-size":null,"int96-fields":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}","avro-add-list-element-records":"true"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false},"avro-write-old-list-structure":{"name":"avro-write-old-list-structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false},"int96-fields":{"name":"int96-fields","displayName":"INT96 Fields","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0.0-eep-940"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"},{"identifier":"cc9c5fe0-4342-32dc-9d68-0cf632195b43","instanceIdentifier":"519eb100-8d3f-3051-b672-8ed0ef3006a5","name":"Hive3_EEP_ConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.Hive3_EEP_ConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-eep-hive3-nar","version":"1.28.0.0-eep-940"},"properties":{"dbcp-min-idle-conns":"1","dbcp-min-evictable-idle-time":"30 mins","hive-config-resources":"/opt/mapr/hive/hive-3.1.3/conf/hive-site.xml","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Kerberos Keytab":null,"hive-max-total-connections":"-1","dbcp-time-between-eviction-runs":"-1","hive-db-connect-url":"jdbc:hive2://localhost:10000/default;ssl=true;auth=maprsasl;","Kerberos Principal":null,"dbcp-soft-min-evictable-idle-time":"-1","hive-max-wait-time":"500 millis","dbcp-max-idle-conns":"8","hive-db-user":"mapr"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0.0-eep-940"}},{"type":"org.apache.nifi.dbcp.hive.Hive3DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.28.0.0-eep-940"}},{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.28.0.0-eep-940"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8b11cea7-0e19-3c4b-b4ee-341f3a24482f"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}